.contenido-registro {
    margin-top: 5rem;
    background-color:aquamarine;
    margin-left: 1rem;
    border-radius: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 20rem;
    height: 38rem;
    
}

.division-uno {
   margin-bottom: 2rem;
}

.tittle-registro {
    margin-bottom: 3rem;
}

.division {
    margin-top: 9rem;
}