.contenido-registro1 {
    margin-top: 1rem;
    background-color:aquamarine;
    margin-left: 1rem;
    border-radius: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 18rem;
    height: 22rem;
    
}

.division-uno1 {
   margin-bottom: 1rem;
}

.tittle-registro1 {
    margin-bottom: 1rem;
}

.division1 {
    margin-top: 8rem;
}

.grid1 {
    margin-top: 12rem;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    gap: 2rem;
}

.listaclientes1 {
   
   
    margin-top: 2rem;
    padding: 1rem;
    background-color:#465f91;
    border-radius: 2rem;
    align-items: center;
  
}

