.contenido-registro {
    margin-top: 0.5rem;
    background-color:rgb(136, 188, 234);
    margin-left: 1rem;
    border-radius: 2rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 25rem;
    width: 50%; /* Define el ancho del div */
    margin: 0 auto; /* Define margen superior e inferior a 0 y margen izquierdo y derecho como auto */

}

.division-uno {
   margin-bottom: 1rem; 
   text-align: center; /* opcional - para centrar el texto dentro del div */

   }

.tittle-registro {
    margin-bottom: 0.5rem;
    text-align: center;
}

.division {
    margin-top: 4rem;
}

.grid {
    margin-top: 12rem;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    gap: 2rem;
}

.listaclientes {
   
   
    margin-top: 1rem;
    padding: 1rem;
    background-color:#465f91;
    border-radius: 2rem;
    align-items: center;
  
}

input ,label {
    width : 12rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input:focus {
    background   : rgba(0,0,0,.1);
    border-radius: 5px;
}