.Contenedor {
  width: 90%;
  margin: 0 auto;
}

.encabezado {
  display: table-cell;
  padding: 8px;
  border-right: 1px solid gray;
  vertical-align: middle;
  background-color: rgb(107, 227, 113);}


.datos {
  display: table-cell;
  padding: 8px;
  border-right: 1px solid rgb(200, 143, 143);
  vertical-align: middle;
  background-color: rgb(107, 227, 113);}



.edit-button {
  width: 15%;
  height: 25px;
  background-color: rgb(55, 59, 160);  
  float: left;
  padding: 1px;
  position: relative;
  top:42px;
  color: white;
  border: 1px solid black;
  font-size: 14px;
}

.delete-button {
  width: 15%;
  height: 25px;
  background-color: rgb(55, 59, 160);  
  float: left;
  padding: 1px;
  position: relative;
  top:42px;
  color: white;
  border: 1px solid black;
  font-size: 14px;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  display: table-row;
  background-color: lightgray;
  font-weight: bold;
}

.table-row {
  display: table-row;
  
}

.table-cell {
  display: table-cell;
  padding: 8px;
  border-right: 1px solid gray;
  vertical-align: middle;
  
}

  .table-row.selected {
    background-color: lightblue;
  }

  .enlace {
  display: table-cell;
  justify-content: "space-between";
  padding: 1px;
  vertical-align: middle;
  
    
  }

  @media screen and (max-width: 768px) {
    .table {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .table-row {
      grid-template-columns: repeat(2, 1fr);
    }
  }